In [94]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, MultinomialNB, ComplementNB
from sklearn.metrics import accuracy_score
import numpy as np 

btc_data = pd.read_csv('btc.csv')
btc_data

,ID,Date,Price (GBP),Market Cap (GBP),Total Volume,% 24hr Change,% 7d Change,Class
0,243,2013-12-27 00:00:00,453.087000,5.519257e+09,3.880170e+07,-2.81,18.81,decrease
1,244,2013-12-28 00:00:00,443.243500,5.401144e+09,1.687134e+07,-2.17,18.88,decrease
2,245,2013-12-29 00:00:00,451.859600,5.507909e+09,1.680521e+07,1.94,19.45,increase
3,246,2013-12-30 00:00:00,457.693700,5.579252e+09,1.487517e+07,1.29,11.18,increase
4,247,2013-12-31 00:00:00,457.389300,5.575541e+09,1.326663e+07,-0.07,12.12,decrease
...,...,...,...,...,...,...,...,...
3394,3706,2023-06-22 00:00:00,23571.096637,4.573319e+11,1.860305e+10,6.20,18.93,increase
3395,3707,2023-06-23 00:00:00,23483.066477,4.561086e+11,1.538576e+10,-0.37,17.46,decrease
3396,3708,2023-06-24 00:00:00,24090.972707,4.675910e+11,1.780004e+10,2.59,17.35,increase
3397,3709,2023-06-25 00:00:00,24019.061630,4.663461e+11,9.230869e+09,-0.30,16.23,decrease
3398,3710,2023-06-25 17:08:59,24062.830201,4.671217e+11,7.952582e+09,0.18,17.23,increase

In [95]:
from sklearn.preprocessing import LabelEncoder

# Assuming you have a target label column named 'target' in your DataFrame
label_encoder = LabelEncoder()
btc_data['Class'] = label_encoder.fit_transform(btc_data['Class'])

# Get the mapping between the encoded labels and the original classes
label_mapping = dict(zip(range(len(label_encoder.classes_)), label_encoder.classes_))

# Print the mapping
for encoded_label, original_class in label_mapping.items():
    print(f"Encoded Label: {encoded_label} --> Original Class: {original_class}")
    
btc_data

Encoded Label: 0 --> Original Class: decrease
Encoded Label: 1 --> Original Class: increase

,ID,Date,Price (GBP),Market Cap (GBP),Total Volume,% 24hr Change,% 7d Change,Class
0,243,2013-12-27 00:00:00,453.087000,5.519257e+09,3.880170e+07,-2.81,18.81,0
1,244,2013-12-28 00:00:00,443.243500,5.401144e+09,1.687134e+07,-2.17,18.88,0
2,245,2013-12-29 00:00:00,451.859600,5.507909e+09,1.680521e+07,1.94,19.45,1
3,246,2013-12-30 00:00:00,457.693700,5.579252e+09,1.487517e+07,1.29,11.18,1
4,247,2013-12-31 00:00:00,457.389300,5.575541e+09,1.326663e+07,-0.07,12.12,0
...,...,...,...,...,...,...,...,...
3394,3706,2023-06-22 00:00:00,23571.096637,4.573319e+11,1.860305e+10,6.20,18.93,1
3395,3707,2023-06-23 00:00:00,23483.066477,4.561086e+11,1.538576e+10,-0.37,17.46,0
3396,3708,2023-06-24 00:00:00,24090.972707,4.675910e+11,1.780004e+10,2.59,17.35,1
3397,3709,2023-06-25 00:00:00,24019.061630,4.663461e+11,9.230869e+09,-0.30,16.23,0
3398,3710,2023-06-25 17:08:59,24062.830201,4.671217e+11,7.952582e+09,0.18,17.23,1

In [96]:
selected_columns= btc_data.iloc[:, [2, 3, 4, 5, 6, 7]]

# Split the data into features (X) and target label (y)
X= selected_columns.iloc[:, :-1]  # Features (columns 2, 3, 4)
y= selected_columns.iloc[:, -1]   # Target label (column 7)# Standardize the data

In [97]:
selected_columns

,Price (GBP),Market Cap (GBP),Total Volume,% 24hr Change,% 7d Change,Class
0,453.087000,5.519257e+09,3.880170e+07,-2.81,18.81,0
1,443.243500,5.401144e+09,1.687134e+07,-2.17,18.88,0
2,451.859600,5.507909e+09,1.680521e+07,1.94,19.45,1
3,457.693700,5.579252e+09,1.487517e+07,1.29,11.18,1
4,457.389300,5.575541e+09,1.326663e+07,-0.07,12.12,0
...,...,...,...,...,...,...
3394,23571.096637,4.573319e+11,1.860305e+10,6.20,18.93,1
3395,23483.066477,4.561086e+11,1.538576e+10,-0.37,17.46,0
3396,24090.972707,4.675910e+11,1.780004e+10,2.59,17.35,1
3397,24019.061630,4.663461e+11,9.230869e+09,-0.30,16.23,0
3398,24062.830201,4.671217e+11,7.952582e+09,0.18,17.23,1

In [98]:
from imblearn.over_sampling import SMOTE

# Create an instance of SMOTE
smote = SMOTE()

# Apply SMOTE to the dataset
X_resampled, y_resampled = smote.fit_resample(X, y)

In [99]:
import pandas as pd

# Count occurrences of each class in y
y_class_counts = pd.Series(y).value_counts()

# Count occurrences of each class in y_resampled
y_resampled_class_counts = pd.Series(y_resampled).value_counts()

# Print the counts
print("Original Class Counts:\n", y_class_counts)
print("\nResampled Class Counts:\n", y_resampled_class_counts)

Original Class Counts:
 Class
1    1796
0    1603
Name: count, dtype: int64

Resampled Class Counts:
 Class
0    1796
1    1796
Name: count, dtype: int64

In [100]:
from sklearn.preprocessing import MinMaxScaler

# Normalize the data
scaler = MinMaxScaler()
X_normalized = scaler.fit_transform(X_resampled)

In [101]:
#NB MODEL
X_train, X_test, y_train, y_test = train_test_split(X_normalized, y, test_size=0.3, random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [3592, 3399]

In [ ]:
from sklearn.model_selection import cross_val_score

# Initialize a Gaussian Naive Bayes classifier
nb_classifier = ComplementNB()

# Train the classifier
nb_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = nb_classifier.predict(X_test)

# Calculate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Perform cross-validation
cv_scores = cross_val_score(nb_classifier, X_normalized, y, cv=10)  # 5-fold cross-validation

# Print the cross-validation scores
print("\nCross-Validation Scores:\n", cv_scores)
print("Mean Accuracy:", np.mean(cv_scores))

In [ ]:
# Plot the cross-validation scores
plt.plot(np.arange(1, 11), cv_scores, marker='o')
plt.xlabel('Fold')
plt.ylabel('Accuracy')
plt.title('Cross-Validation Scores')
plt.ylim([0, 1])  # Set the y-axis limits
plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score

# Assuming you have predicted labels stored in y_pred and true labels stored in y_test

# Compute the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Calculate accuracy score
accuracy = accuracy_score(y_test, y_pred)

# Create a heatmap for the confusion matrix
plt.figure(figsize=(8, 6))
sns.heatmap(cm, annot=True, fmt='d', cmap='Blues', cbar=False)
plt.title(f'Confusion Matrix (Accuracy: {accuracy:.3f})')
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.show()

In [ ]:
from sklearn.metrics import precision_score, recall_score, f1_score

# Assuming you have predicted labels stored in y_pred and true labels stored in y_test

# Calculate precision, recall, and F1 score
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

# Print the evaluation metrics
print(f'Precision: {precision:.3f}')
print(f'Recall: {recall:.3f}')
print(f'F1 Score: {f1:.3f}')