In [1]:
import pandas as pd

In [6]:
btc = pd.read_csv('raw_data/btc_daily.csv')
eth = pd.read_csv('raw_data/eth_daily.csv')
btc_hourly = pd.read_csv('raw_data/btc_hr.csv')
print(btc.size)
print(eth.size)
print(btc_hourly.size)

30048
23408
17296

In [7]:
# Check for NA values
na_values_btc = btc.isna().any()
na_values_eth = eth.isna().any()
na_values_btc_hourly = btc_hourly.isna().any()

# Print the columns with NA values
print("BTC: ", na_values_btc[na_values_btc].index)
print("ETH: ", na_values_eth[na_values_eth].index)
print("BTC HOURLY: ", na_values_btc_hourly[na_values_btc_hourly].index)

# Count NA values in each column
na_counts = btc.isna().sum()

# Print columns with NA values
print(na_counts[na_counts > 0])

BTC:  Index(['Market Cap (GBP)', 'Total Volume'], dtype='object')
ETH:  Index(['Market Cap (GBP)'], dtype='object')
BTC HOURLY:  Index([], dtype='object')
Market Cap (GBP)    69
Total Volume        21
dtype: int64

In [8]:
# Remove records with NA values
btc_cleaned = btc.dropna()
eth_cleaned = eth.dropna()
btc_hourly_cleaned = btc_hourly.dropna()


# Print the cleaned DataFrame
print(btc_cleaned.size)
print(eth_cleaned.size)
print(btc_hourly_cleaned.size)

29496
23400
17296

In [9]:
# Remove records where 'Total Volume' is 0
btc_filtered = btc_cleaned[btc_cleaned['Total Volume'] != 0]
# Remove records where 'Total Volume' is 0
eth_filtered = eth_cleaned[eth_cleaned['Total Volume'] != 0]
btc_hr_filtered = btc_hourly_cleaned[btc_hourly_cleaned['Total Volume'] != 0]


# Print the filtered DataFrame
print(btc_filtered.size)
# Print the filtered DataFrame
print(eth_filtered.size)
print(btc_hr_filtered.size)

27560
23400
17296

In [10]:
btc_filtered

,ID,Date,Price (GBP),Market Cap (GBP),Total Volume,% 24hr Change,% 7d Change,Class
242,243,2013-12-27 00:00:00,453.087000,5.519257e+09,3.880170e+07,-2.81,18.81,decrease
243,244,2013-12-28 00:00:00,443.243500,5.401144e+09,1.687134e+07,-2.17,18.88,decrease
244,245,2013-12-29 00:00:00,451.859600,5.507909e+09,1.680521e+07,1.94,19.45,increase
245,246,2013-12-30 00:00:00,457.693700,5.579252e+09,1.487517e+07,1.29,11.18,increase
246,247,2013-12-31 00:00:00,457.389300,5.575541e+09,1.326663e+07,-0.07,12.12,decrease
...,...,...,...,...,...,...,...,...
3751,3752,2023-08-07 00:00:00,22780.444127,4.430576e+11,4.204269e+09,-0.02,0.02,decrease
3752,3753,2023-08-08 00:00:00,22827.523894,4.439718e+11,1.036785e+10,0.21,0.22,increase
3753,3754,2023-08-09 00:00:00,23365.669458,4.545645e+11,1.145827e+10,2.36,1.25,increase
3754,3755,2023-08-10 00:00:00,23259.430260,4.525084e+11,1.150437e+10,-0.45,1.51,decrease
3755,3756,2023-08-10 16:19:21,23140.944640,4.503207e+11,9.478974e+09,-0.51,0.85,decrease

In [62]:
# Export the DataFrame to a CSV file
btc_filtered.to_csv('btc_daily_filtered.csv', index=False)
eth_filtered.to_csv('eth_daily_filtered.csv', index=False)