In [3]:
import pandas as pd

In [46]:
btc = pd.read_csv('bitcoin_data.csv')
eth = pd.read_csv('ethereum_data.csv')

print(btc.size)
print(eth.size)

29680
23040

In [48]:
# Check for NA values
na_values_btc = btc.isna().any()
na_values_eth = eth.isna().any()

# Print the columns with NA values
print("BTC: ", na_values_btc[na_values_btc].index)
print("ETH: ", na_values_eth[na_values_eth].index)

# Count NA values in each column
na_counts = btc.isna().sum()

# Print columns with NA values
print(na_counts[na_counts > 0])

BTC:  Index(['Market Cap (GBP)', 'Total Volume'], dtype='object')
ETH:  Index(['Market Cap (GBP)'], dtype='object')
Market Cap (GBP)    69
Total Volume        21
dtype: int64

In [57]:
# Remove records with NA values
btc_cleaned = btc.dropna()
eth_cleaned = eth.dropna()

# Print the cleaned DataFrame
print(btc_cleaned.size)
print(eth_cleaned.size)

29128
23032

In [56]:
# Remove records where 'Total Volume' is 0
btc_filtered = btc_cleaned[btc_cleaned['Total Volume'] != 0]
# Remove records where 'Total Volume' is 0
eth_filtered = eth_cleaned[eth_cleaned['Total Volume'] != 0]

# Print the filtered DataFrame
print(btc_filtered.size)
# Print the filtered DataFrame
print(eth_filtered.size)

27192
23032

In [61]:
btc_filtered

,ID,Date,Price (GBP),Market Cap (GBP),Total Volume,% 24hr Change,% 7d Change,Class
242,243,2013-12-27 00:00:00,453.087000,5.519257e+09,3.880170e+07,-2.81,18.81,decrease
243,244,2013-12-28 00:00:00,443.243500,5.401144e+09,1.687134e+07,-2.17,18.88,decrease
244,245,2013-12-29 00:00:00,451.859600,5.507909e+09,1.680521e+07,1.94,19.45,increase
245,246,2013-12-30 00:00:00,457.693700,5.579252e+09,1.487517e+07,1.29,11.18,increase
246,247,2013-12-31 00:00:00,457.389300,5.575541e+09,1.326663e+07,-0.07,12.12,decrease
...,...,...,...,...,...,...,...,...
3705,3706,2023-06-22 00:00:00,23571.096637,4.573319e+11,1.860305e+10,6.20,18.93,increase
3706,3707,2023-06-23 00:00:00,23483.066477,4.561086e+11,1.538576e+10,-0.37,17.46,decrease
3707,3708,2023-06-24 00:00:00,24090.972707,4.675910e+11,1.780004e+10,2.59,17.35,increase
3708,3709,2023-06-25 00:00:00,24019.061630,4.663461e+11,9.230869e+09,-0.30,16.23,decrease
3709,3710,2023-06-25 17:08:59,24062.830201,4.671217e+11,7.952582e+09,0.18,17.23,increase

In [62]:
# Export the DataFrame to a CSV file
btc_filtered.to_csv('btc.csv', index=False)
eth_filtered.to_csv('eth.csv', index=False)